<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">NiatCMS</title>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-paginator.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Material Design -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/roboto.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/ripples.min.css"/>
    <script src="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/js/ripples.min.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>

    <!-- Toasts and snackbars -->
    <link rel="stylesheet" th:href="@{/css/snackbar.min.css}" href="../static/css/snackbar.min.css"/>
    <script th:src="@{/js/snackbar.min.js}" src="../static/js/snackbar.min.js"></script>

    <!-- Bootstrap modal -->
    <script th:src="@{/js/bootbox.min.js}" src="../static/js/bootbox.min.js"></script>
</head>
<body>
    <div class="navbar navbar-material-indigo ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NiatCMS</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li id="nav_item_main" sec:authorize-url="/"><a th:href="@{/}">Главная</a></li>
                <li id="nav_item_archive" sec:authorize-url="/archive"><a th:href="@{/archive}">Архив</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li id="nav_item_editmain" sec:authorize-url="/editmain"><a th:href="@{/editmain}">Редактировать главную</a></li>
                <li class="dropdown" id="nav_item_addmat_dropdown" sec:authorize-url="/addmaterial">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Добавить материал<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li id="nav_item_addmaterial" sec:authorize-url="/addmaterial"><a th:href="@{/addmaterial}">Новый материал</a></li>
                        <li id="nav_item_drafts" sec:authorize-url="/drafts"><a th:href="@{/drafts}">Черновики</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="nav_item_moder_dropdown" sec:authorize-url="/moderate">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Модерация<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li id="nav_item_moderate" sec:authorize-url="/moderate"><a th:href="@{/moderate}">Модерировать</a></li>
                        <li id="nav_item_modertasks" sec:authorize-url="/modertasks"><a th:href="@{/modertasks}">Ожидают модерации</a></li>
                    </ul>
                </li>
                <li id="nav_item_users" sec:authorize-url="/users"><a th:href="@{/users}">Пользователи</a></li>
                <li id="nav_item_favourites" sec:authorize-url="/favourites"><a th:href="@{/favourites}">Избранное</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a th:href="@{/login}">Войти</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/logout}">Выйти</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right form-group-white">
                <input type="text" class="form-control col-lg-8" placeholder="Поиск"/>
            </form>
        </div>
    </div>

    <div class="container">
        <div layout:fragment="content">
            <p>Here should be shown a content</p>
        </div>
    </div>

    <!-- To top button -->
    <a href="#"
       id="to_top"
       class="btn btn-fab btn-raised btn-material-indigo"
       data-toggle="tooltip" data-placement="top" title="" data-original-title="Наверх">
        <i class="mdi-navigation-expand-less"></i>
    </a>

    <script>
        $.material.init();
        $('[data-toggle="tooltip"]').tooltip();
    </script>

    <!-- To top button script -->
    <script>
        jQuery(document).ready(function() {
            var offset = 100;
            jQuery(window).scroll(function() {
                if (jQuery(this).scrollTop() > offset) {
                    jQuery('#to_top').fadeIn('medium');
                } else {
                    jQuery('#to_top').fadeOut('medium');
                }
            });

            jQuery('#to_top').click(function(event) {
                event.preventDefault();
                jQuery('html, body').animate({scrollTop: 0}, 'medium');
                return false;
            })
        });
    </script>
</body>
</html>