.text-indigo {
    color: #3f51b5;
}

.form-control-wrapper {
    margin-top: 20px;
}
.material-title {
    color: #3F51B5;
}
.text-center {
    text-align: center
}

#auth-well, #reg-well{
    max-width: 350px;
    min-width: 275px;
    margin-left: auto;
    margin-right: auto;
}

#snippet-preview {
    text-align: center;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.843137) !important;
}

a, a:focus, a:hover {
    color: #3f51b5;
}

a.text-warning, a.text-warning:focus, a.text-warning:hover {
    color: #ff5722;
}

.material-text img {
    max-width: 100%;
}

#disqus_thread {
    margin-top: 30px;
}

.btn-toolbar .btn i {
    font-size: 16pt;
}

#to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.pagination>li>a, .pagination>li>span {
    color: #3f51b5;
    border-color: #d7dbef;
}
.pagination>li>a:hover, .pagination>li>span:hover {
    color: #3f51b5;
    background-color: #d7dbef;
    border-color: #d7dbef;
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #3f51b5;
    border-color: #d7dbef;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #3f51b5;
    border-color: #3f51b5;
}
#pagination {
    text-align: center;
}

.hidden_img_input {
    opacity: 0;
    position: absolute;
    top: 0px; left: 0px;
    width: 46px;
    height: 29px;
}

.material-text blockquote, #editor blockquote {
    font-size: inherit;
}

.mat_title {
    word-wrap: break-word;
}

th.sort_header {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

th.sort_header_asc {
    background-image: url(../img/sort_asc.png);
    background-color: #ddd;
}

th.sort_header_desc {
    background-image: url(../img/sort_desc.png);
    background-color: #ddd;
}

ul.sortable_mat_list {
    list-style: none;
    padding: 0;
}

.sort_placeholder {
    border: dashed 2px #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.mat_drag_handle {
    cursor: default;
}

.logo {
    max-height: 30px;
}

.error_img_wrapper img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
