.text-indigo {
    color: #3f51b5;
}

.form-control-wrapper {
    margin-top: 20px;
}
.material-title {
    color: #3F51B5;
}
.text-center {
    text-align: center
}

#auth-well, #reg-well{
    max-width: 350px;
    min-width: 275px;
    margin-left: auto;
    margin-right: auto;
}

#snippet-preview {
    text-align: center;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.843137) !important;
}

a, a:focus, a:hover {
    color: #3f51b5;
}

a.text-warning, a.text-warning:focus, a.text-warning:hover {
    color: #ff5722;
}

.material-text img {
    max-width: 100%;
}

#disqus_thread {
    margin-top: 30px;
}

.btn-toolbar .btn i {
    font-size: 16pt;
}

#to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.hidden_img_input {
    opacity: 0;
    position: absolute;
    top: 0px; left: 0px;
    width: 46px;
    height: 29px;
}

.material-text blockquote, #editor blockquote {
    font-size: inherit;
}