
#login img{
    margin: 10px 0;
}
#login .center {
    text-align: center;
}

#login .login {
    max-width: 300px;
    margin: 35px auto;
}

#login .login-form{
    padding:0px 25px;
}

.form {
    width: 300px;
    margin: 0 auto;
}
.form input[type=submit]:focus {
    background-color: #30ca00;
    outline: none;
}


.form input[type=checkbox] {
    margin-right: 5px;
}


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .\form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.help-block
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
    align-content: space-around;
}

#snippet-preview {
    position: relative;
    top:0px;left:0px; width:100%; height:100%;
    z-index:50
}

#toolbar {
    z-index: 1000;
    padding: 5px;
    border-bottom: 1px #CCC solid;
    -webkit-box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.42);
    -moz-box-shadow:    0px 2px 6px rgba(50, 50, 50, 0.42);
    box-shadow:         0px 2px 6px rgba(50, 50, 50, 0.42);
    margin-bottom: 10px;
    text-align: right;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #333333;
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active
{
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.btn-default:active,
.btn-default.active{
    background-image: none;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.new_material_btn {
    width: 100%;
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    background-color: #1e7f00;
}

.new_material_btn a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.new_material_btn:hover {
    background-color: #30ca00;
}