<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layouts/layout">
<head>
    <title th:inline="text" style="margin-bottom:20px">Материалы пользователя "[[${author.username}]]"</title>
</head>
<body>
    <div class="navbar navbar-material-indigo ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NiatCMS</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li id="nav_item_main" sec:authorize-url="/"><a th:href="@{/}">Главная</a></li>
                <li id="nav_item_archive" sec:authorize-url="/archive"><a th:href="@{/archive}">Архив</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li id="nav_item_addmaterial" sec:authorize-url="/admin/addmaterial"><a th:href="@{/admin/addmaterial}">Добавить материал</a></li>
                <li id="nav_item_editmain" sec:authorize-url="/admin/editmain"><a th:href="@{/admin/editmain}">Редактировать главную</a></li>
                <li id="nav_item_users" sec:authorize-url="/admin/users"><a th:href="@{/admin/users}">Пользователи</a></li>
            </ul>
            <form class="navbar-form navbar-right form-group-white">
                <input type="text" class="form-control col-lg-8" placeholder="Поиск"/>
            </form>
        </div>
    </div>

    <div class="container">
        <div layout:fragment="content">
            <h2 class="text-indigo" th:inline="text">Материалы пользователя [[${author.username}]]</h2>

            <div th:replace="fragments/materialListPageable :: materialListPageable(${materials})"/>

            <!-- Override toArchive/toMain for keeping material in DOM -->
            <script>
                function toMain(matId) {
                    $("#toMain_" + matId).addClass("disabled");

                    $.ajax({
                        type: "GET",
                        url : "/material/" + matId + "/tomain",
                        success : function() {
                            $('#toMain_' + matId).hide('medium');
                            $('#toArchive_' + matId).removeClass('disabled');
                            $('#toArchive_' + matId).show('medium');
                        },
                        error : function() {
                            $("#toMain_" + matId).removeClass("disabled");

                            $.snackbar({
                                content: "Не удалось отправить материал на главную",
                                style: "toast",
                                timeout: 3000
                            });
                        }
                    });
                }

                function toArchive(matId) {
                    $("#toArchive_" + matId).addClass("disabled");

                    $.ajax({
                        type: "GET",
                        url : "/material/" + matId + "/toarchive",
                        success : function() {
                            $('#toArchive_' + matId).hide('medium');
                            $('#toMain_' + matId).removeClass('disabled');
                            $('#toMain_' + matId).show('medium');
                        },
                        error : function() {
                            $("#toArchive_" + matId).removeClass("disabled");

                            $.snackbar({
                                content: "Не удалось отправить материал в архив",
                                style: "toast",
                                timeout: 3000
                            });
                        }
                    });
                }
            </script>
        </div>
    </div>

    <script>
        $.material.init();
    </script>
</body>
</html>