<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layouts/layout">
<head>
    <title>Редактировать материал</title>
</head>
<body>
    <div class="navbar navbar-material-indigo ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NiatCMS</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li id="nav_item_main" sec:authorize-url="/"><a th:href="@{/}">Главная</a></li>
                <li id="nav_item_archive" sec:authorize-url="/archive"><a th:href="@{/archive}">Архив</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li id="nav_item_addmaterial" sec:authorize-url="/admin/addmaterial"><a th:href="@{/admin/addmaterial}">Добавить материал</a></li>
                <li id="nav_item_editmain" sec:authorize-url="/admin/editmain"><a th:href="@{/admin/editmain}">Редактировать главную</a></li>
                <li class="dropdown" id="nav_item_dropdown" sec:authorize-url="/dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Добавить материал<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li id="nav_item_addmaterial" sec:authorize-url="/addmaterial"><a th:href="@{/addmaterial}">Новый материал</a></li>
                        <li id="nav_item_drafts" sec:authorize-url="/drafts"><a th:href="@{/drafts}">Черновики</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="nav_item_dropdown" sec:authorize-url="/dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Модерация<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li id="nav_item_moderate" sec:authorize-url="/moderate"><a th:href="@{/moderate}">Модерировать</a></li>
                        <li id="nav_item_modertasks" sec:authorize-url="/modertasks"><a th:href="@{/modertasks}">Ожидают модерации</a></li>
                    </ul>
                </li>
                <li id="nav_item_users" sec:authorize-url="/admin/users"><a th:href="@{/admin/users}">Пользователи</a></li>
            </ul>
            <form class="navbar-form navbar-right form-group-white">
                <input type="text" class="form-control col-lg-8" placeholder="Поиск"/>
            </form>
        </div>
    </div>

    <div class="container" layout:fragment="content">
        <script type="text/javascript">
            $("#nav_item_addmaterial").addClass("active");
            $("#nav_item_dropdown").addClass("active");
        </script>
        <!-- WYSYWYG -->
        <script th:src="@{/js/jquery.hotkeys.js}" src="../static/js/jquery.hotkeys.js"></script>
        <script th:src="@{/js/bootstrap-wysiwyg.js}" src="../static/js/bootstrap-wysiwyg.js"></script>

        <div class="well">
            <form id="mat_form" role="form" method="post" th:object="${materialForm}">
                <div class="form-group-material-indigo">
                    <h2 class="text-indigo text-center">Редактировать материал</h2>

                    <!--Title-->
                    <div class="form-group" th:classappend="${#fields.hasErrors('title')} ? has-error">
                        <h4 class="text-indigo">Введите заголовок материала:</h4>
                        <input type="text" class="form-control input-lg" id="title" th:field="*{title}" placeholder="Заголовок" required="true"/>
                        <p style="margin-top: 10px" class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
                    </div>

                    <!--Text wysiwyg-->
                    <h4 class="text-indigo">Введите текст материала:</h4>
                    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                        <div class="btn-group">
                            <a class="btn btn-xs btn-material-indigo dropdown-toggle" data-toggle="dropdown" rel="tooltip" data-placement="top" title="" data-original-title="Шрифт">
                                <i class="mdi-editor-format-color-text"></i> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Arial Black" style="font-family:'Arial Black'">Arial Black</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic Sans MS</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Courier New" style="font-family:'Courier New'">Courier New</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Franklin Gothic Medium" style="font-family:'Franklin Gothic Medium'">Franklin Gothic Medium</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Georgia" style="font-family:'Georgia'">Georgia</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Impact" style="font-family:'Impact'">Impact</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Lucida Console" style="font-family:'Lucida Console'">Lucida Console</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Lucida Sans" style="font-family:'Lucida Sans'">Lucida Sans</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Roboto" style="font-family:'Roboto'">Roboto</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Times New Roman" style="font-family:'Times New Roman'">Times New Roman</a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-xs btn-material-indigo dropdown-toggle" data-toggle="dropdown" rel="tooltip" data-placement="top" title="" data-original-title="Размер шрифта">
                                <i class="mdi-editor-format-size"></i> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontSize 6"><font size="6">Размер 6</font></a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontSize 5"><font size="5">Размер 5</font></a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontSize 4"><font size="4">Размер 4</font></a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontSize 3"><font size="3">Размер 3</font></a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontSize 2"><font size="2">Размер 2</font></a></li>
                                <li><a class="btn btn-flat btn-material-indigo" data-edit="fontSize 1"><font size="1">Размер 1</font></a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-xs btn-material-indigo" data-edit="bold" rel="tooltip" data-placement="top" title="" data-original-title="Полужирный (Ctrl/Cmd+B)">
                                <i class="mdi-editor-format-bold"></i>
                            </a>
                            <a class="btn btn-xs btn-material-indigo" data-edit="italic" rel="tooltip" data-placement="top" title="" data-original-title="Курсив (Ctrl/Cmd+I)">
                                <i class="mdi-editor-format-italic"></i>
                            </a>
                            <a class="btn btn-xs btn-material-indigo" data-edit="strikethrough" rel="tooltip" data-placement="top" title="" data-original-title="Зачеркнутый">
                                <i class="mdi-editor-format-strikethrough"></i>
                            </a>
                            <a class="btn btn-xs btn-material-indigo" data-edit="underline" rel="tooltip" data-placement="top" title="" data-original-title="Подчеркнутый (Ctrl/Cmd+U)">
                                <i class="mdi-editor-format-underline"></i>
                            </a>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-xs btn-material-indigo" data-edit="insertunorderedlist" rel="tooltip" data-placement="top" title="" data-original-title="Маркированный список">
                                <i class="mdi-editor-format-list-bulleted"></i>
                            </a>
                            <a class="btn btn-xs btn-material-indigo" data-edit="insertorderedlist" rel="tooltip" data-placement="top" title="" data-original-title="Нумерованный список">
                                <i class="mdi-editor-format-list-numbered"></i>
                            </a>
                            <a class="btn btn-xs btn-material-indigo" data-edit="outdent" rel="tooltip" data-placement="top" title="" data-original-title="Уменьшить отступ (Shift+Tab)">
                                <i class="mdi-editor-format-indent-decrease"></i>
                            </a>
                            <a class="btn btn-xs btn-material-indigo" data-edit="indent" rel="tooltip" data-placement="top" title="" data-original-title="Увеличить отступ (Tab)">
                                <i class="mdi-editor-format-indent-increase"></i>
                            </a>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-xs btn-material-indigo" data-edit="justifyleft" rel="tooltip" data-placement="top" title="" data-original-title="По левому краю (Ctrl/Cmd+L)">
                                <i class="mdi-editor-format-align-left"></i>
                            </a>
                            <a class="btn btn-xs btn-material-indigo" data-edit="justifycenter" rel="tooltip" data-placement="top" title="" data-original-title="По центру (Ctrl/Cmd+E)">
                                <i class="mdi-editor-format-align-center"></i>
                            </a>
                            <a class="btn btn-xs btn-material-indigo" data-edit="justifyright" rel="tooltip" data-placement="top" title="" data-original-title="По правому краю (Ctrl/Cmd+R)">
                                <i class="mdi-editor-format-align-right"></i>
                            </a>
                            <a class="btn btn-xs btn-material-indigo" data-edit="justifyfull" rel="tooltip" data-placement="top" title="" data-original-title="По ширине (Ctrl/Cmd+J)">
                                <i class="mdi-editor-format-align-justify"></i>
                            </a>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-xs btn-material-indigo dropdown-toggle" data-toggle="dropdown" rel="tooltip" data-placement="top" title="" data-original-title="Вставить ссылку">
                                <i class="mdi-editor-insert-link"></i>
                            </a>
                            <ul class="dropdown-menu input-append">
                                <li><div id="url" style="margin: 5px" class="form-group-material-indigo"><input class="form-control" placeholder="URL" type="text" data-edit="createLink"/></div></li>
                                <li><a class="btn btn-flat btn-material-indigo" type="button">Вставить</a></li>
                            </ul>
                            <a class="btn btn-xs btn-material-indigo" data-edit="unlink" rel="tooltip" data-placement="top" title="" data-original-title="Убрать ссылку">
                                <i class="mdi-content-clear"></i>
                            </a>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-xs btn-material-indigo" id="pictureBtn" rel="tooltip" data-placement="top" title="" data-original-title="Вставить изображение">
                                <i class="mdi-editor-insert-photo"></i>
                            </a>
                            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage"/>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-xs btn-material-indigo" data-edit="undo" rel="tooltip" data-placement="top" title="" data-original-title="Отменить (Ctrl/Cmd+Z)">
                                <i class="mdi-content-undo"></i>
                            </a>
                            <a class="btn btn-xs btn-material-indigo" data-edit="redo" rel="tooltip" data-placement="top" title="" data-original-title="Вернуть (Ctrl/Cmd+Y)">
                                <i class="mdi-content-redo"></i>
                            </a>
                        </div>

                        <div class="btn-group">
                            <a class="btn btn-xs btn-material-indigo" data-edit="insertText &lt;cut&gt;" rel="tooltip" data-placement="top" title="" data-original-title="Вставить разрыв">
                                <i class="mdi-content-content-cut"></i>
                            </a>
                        </div>
                    </div>

                    <div class="well" style="overflow:scroll; min-height:500px; max-height:500px" id="editor"
                         th:utext="${#fields.hasErrors('*')} ? *{text} : 'Введите текст материала здесь&hellip;'">
                    </div>
                    <p style="margin-top: 10px" class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}" />

                    <!--Tags-->
                    <div class="form-group" th:classappend="${#fields.hasErrors('tags')} ? has-error">
                        <h4 class="text-indigo">Введите теги через запятую:</h4>
                        <input type="text" class="form-control input-lg" id="tags" th:field="*{tags}" placeholder="Теги" required="true"/>
                        <p style="margin-top: 10px" class="text-danger" th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}" />
                    </div>

                    <!--Submit-->
                    <button type="submit" class="btn btn-lg btn-raised btn-material-indigo">Сохранить</button>

                    <textarea id="text" style="display: none" th:field="*{text}"></textarea>
                </div>
            </form>
        </div>

        <script>
            //init wysiwyg
            $('#editor').wysiwyg();

            //"insert url" dropdown fix
            $('#url').click(function (e) {
                e.stopPropagation();
            });

            //init tooltip
            $('[rel="tooltip"]').tooltip();

            //hide file input in "insert image"
            $('[data-role=magic-overlay]').each(function () {
                var overlay = $(this), target = $(overlay.data('target'));
                overlay.css('opacity', 0)
                       .css('position', 'absolute')
                       .offset(target.offset())
                       .width(target.outerWidth())
                       .height(target.outerHeight());
            });

            //put text from wysiwyg to hidden textarea for submitting in the form
            $(function() {
                $('#mat_form').submit(function() {
                    $('#text').val($('#editor').cleanHtml());
                    return true;
                });
            });
        </script>
    </div>

    <script>
        $.material.init();
    </script>
</body>
</html>